apiVersion: apps/v1
kind: Deployment
metadata: 
  name: myapp
spec:
  replicas: 1
  selector: 
    matchlabels: 
      name: myapp
  template: 
    metadata:
      labels: 
        name: myapp
    spec: 
      containers:
        - name: myapp
          image: myapp-image:v1
          ports:
          - containerPorts: 8080
